#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

button {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#ComponentContainer {
  height: 100%;
  width: 100%
}

.OrderContainer {
  display: flex;
  flex-direction: column;
}

.ProductsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#SingleProductContainer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

img {
  height: 300px;
  width: 300px;
}

.mainli {
  width: 300px;
}

.ImgContainer {
  cursor: pointer;
  margin: 50px;
  margin-top: 10px;
}

.ProductContainer {
  cursor: pointer;
  margin: 50px;
  margin-top: 0px;
}

button {
  cursor: pointer;
}

.small-margin-container * {
  margin: 5px 0px;
}
